#outer
{
    width:100%;
    text-align: center;
}
.inner
{
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 10px;
}

#god_mode_dev {
    background-color: #ffbcbc;
}

#messages {
    border: 1px solid lightgray;
}