.dot {
    transition: background-color 0.5s ease;
    height: 25px;
    width: 100%;
    background-color: #bbb;

    border-radius: 25px;
    display: inline-block;
}

#leave-btn, #send-btn, #help-btn {
    margin-top: 10px;
    margin-right: 10px;
}

#opponent {
    transition: background-color 0.5s ease;
    /*color: #004085;*/
    color: #818182;
    /*background-color: #b8daff;*/
    background-color: #fdfdfe;
}