{% load static %}
<head>
    <title>Sandbox</title>
</head>
<body>
    <h2>Sandbox</h2>
    <label for="guessField">Gib deine Vermtung ein: </label><input type="text" id="guessField" class="guessField">
    <input type="submit" value="Vermutung abgeben" class="guessSubmit">
    <p class="lastResult" style="width: 30%"></p>
    <p class="lowOrHi"></p>
    <p class="guesses"></p>
    <script src="{% static 'js/sandbox.js' %}"></script>
</body>
