{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <title>{% block title %}vTasker{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    {% block css %}
    {% endblock css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {# import bootstrap4/bootstrap3 #}
    {% load bootstrap4 %}
    {% load django_bootstrap_icons %}
    {% include_bootstrap_icons %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}

    {# Adds date-picker required JS and CSS #}
    {{ form.media }}
  </head>
    <body>
    {% include 'navbar.html' %}
    {% block out_content %}
    {% endblock %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}
                <hr class="mt-0 mb-4">
                {% block content %}
                {% endblock content %}
            </div>
        </div>
    </div>
    </body>
    <!-- include js here -->
    {% block scripts %}
        <script src="{% static 'js/main.js' %}"></script>
    {% endblock %}
</html>