{% load django_bootstrap_icons %}

<div class="card border-{{ style }} mb-3">
    <div class="card-header">{{ status }}</div>
    <div class="card-body text-{{ style }}">
        <h5 class="card-title">{{ info.title }}</h5>
        {% if info.description %}
            <p class="card-text">{{ info.description }}</p>
        {% endif %}
        {% if info.user != info.assignee and user != info.assignee %}
            <p class="card-text"><small class="text-muted">Assignment to: <a href="{% url 'profile-search' info.assignee %}" rel="nofollow">{{ info.assignee }}</a></small></p>
        {% endif %}
        {% now "Y-m-d"  as todays_date %}
        {% if todays_date < info.deadline|date:"Y-m-d" %}
            <p class="text-muted mb-0"><small><strong>{{ info.deadline|timeuntil }}</strong> before deadline</small></p>
        {% elif todays_date == info.deadline|date:"Y-m-d" %}
            <p class="text-muted mb-0"><small><strong>Deadline today!</strong></small></p>
        {% elif todays_date > info.deadline|date:"Y-m-d" and info.deadline != None %}
            <p class="text-muted mb-0"><small>Deadline is missed</small></p>
        {% endif %}
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            {% if info.user == user %}
                <a href="{% url 'task-edit' info.pk %}" class="btn btn-outline-{{ style }}">Edit</a>
                <a href="{% url 'task-delete' info.pk %}" class="btn btn-outline-{{ style }}">Delete</a>
            {% endif %}
            {% if info.attachment %}
                <a href="{{ info.attachment.url }}" class="btn btn-outline-{{ style }}" target="_blank">Download</a>
            {% endif %}
        </li>
        <li class="list-group-item">
            <a href="{% url 'comment-create' info.pk %}" class="btn btn-{{ style }}">Comment</a>
            <a href="{% url 'task-history' info.pk %}" class="btn btn-{{ style }}">History</a>
        </li>
    </ul>
</div>