{% load django_bootstrap_icons %}

<div class="card border-{{ style }} mb-3">
    <div class="card-header">{{ status }}<small class="float-right text-muted">{{ task.creation_date|timesince }}</small></div>
    <div class="card-body text-{{ style }}">
        <p hidden>{{ task.pk }}</p>
        <h5 class="card-title"><a href="{% url 'task-detail' pk=task.pk %}" class="text-{{ style }}">{{ task.title }}</a></h5>
        <p class="card-text">{{ task.description }}</p>
        {% if task.user != task.assignee and user == task.assignee %}
            <a href="{% url 'task-status' pk=task.pk status='to do' %}" class="btn btn-outline-{{ style }}">to do</a>
            <a href="{% url 'task-status' pk=task.pk status='in progress' %}" class="btn btn-outline-{{ style }}">doing</a>
            <a href="{% url 'task-status' pk=task.pk status='completed' %}" class="btn btn-outline-{{ style }}">done</a>
            <a href="{% url 'comment-create' task.pk %}" class="btn btn-{{ style }}" style="margin-right: 10px">Comment</a>
            <p class="card-text"><small class="text-muted">
                Assignment from: <a href="{% url 'profile-search' task.user %}" rel="nofollow">{{ task.user }}</a>
            </small></p>
        {% else %}
            <a href="{% url 'task-edit' task.pk %}" class="btn btn-outline-{{ style }}">Edit</a>
            <a href="{% url 'task-delete' task.pk %}" class="btn btn-outline-{{ style }}">Delete</a>
            <a href="{% url 'comment-create' task.pk %}" class="btn btn-{{ style }}" style="margin-right: 10px">Comment</a>
        {% endif %}
        {% if task.attachment %}
            {% bs_icon 'file-earmark-fill' extra_classes='bi-xs' %}
        {% endif %}
        {% if task.deadline %}
            {% bs_icon 'clock-history' extra_classes='bi-xs' %}
        {% endif %}
        {% if task.user != task.assignee and user != task.assignee %}
            <p class="card-text"><small class="text-muted">
                Assignment to: <a href="{% url 'profile-search' task.assignee %}" rel="nofollow">{{ task.assignee }}</a>
            </small></p>
        {% endif %}
    </div>
</div>