{% load django_bootstrap_icons %}

<div class="card" style="margin-bottom: 4px">
    <div class="card-body">
        {% if creation == 'New comment added' or creation == 'New task added' %}
            <h5 class="card-title text-success"><strong>{{ creation }}</strong></h5>
            {% if record.new_record.comment %}
                <h6 class="card-title text-success">"{{ record.new_record.comment }}"</h6>
            {% endif %}
        {% elif creation == 'Comment was deleted.' or creation == 'Task was deleted.' %}
            <h5 class="card-title text-danger"><strong>{{ creation }}</strong></h5>
{#            <h5 class="card-title">Text of comment:</h5>#}
            <h6 class="card-title text-danger">"{{ record.new_record.comment }}"</h6>
        {% else %}
            {% for change in record.changes %}
                <h5 class="card-title">Edited - <strong>{{ change.field }}</strong>:</h5>
                {% if change.diff %}
                    <p>
                    {% for section in change.diff %}
                        {% if section.0 == 0 %}
                            {{ section.1 }}
                        {% elif section.0 == 1 %}
                            <b class="text-success">{{ section.1 }}</b>
                        {% else %}
                            <s class="text-danger">{{ section.1 }}</s>
                        {% endif %}
                    {% endfor %}
                    </p>
                {% else %}
                    <h6 class="card-title text-success">{{ change.new }}</h6>
                    <h6 class="card-subtitle mb-2 text-danger">{{ change.old }}</h6>
                {% endif %}

            {% empty %}
                <h5 class="card-title" style="margin-bottom: 0px">Edited without changes.</h5>
            {% endfor %}
        {% endif %}
    </div>
    <div class="card-footer text-muted">
        {% if record.new_record.history_type == '~' %}
            {% bs_icon 'pencil' extra_classes='bi-xs' %}
        {% elif record.new_record.history_type == '+' %}
            {% bs_icon 'plus-circle' extra_classes='bi-xs' %}
        {% elif record.new_record.history_type == '-' %}
            {% bs_icon 'x-circle' extra_classes='bi-xs' %}
        {% endif %}
        {{ record.new_record.history_date|date:"SHORT_DATETIME_FORMAT" }}
        <footer class="pull-right">{{ footer }}</footer>
    </div>
</div>