{% extends "base.html" %}
{% load django_bootstrap_icons %}
{% load static %}

{% block title %}
    Chats - {{ block.super }}
{% endblock %}

{% block content %}
    {% if error %}
        <p style="color: #ff0000">{{ error }}</p>
    {% endif %}
    <label for="basic-url">What chat room would you like to enter?</label>
    <div id="chat-list" class="list-group">
        {# Chats go here #}
    </div>
    <hr class="mb-4">
    <div class="input-group mb-3">
        <input id="chat-create-input" type="text" class="form-control" placeholder="Name of new chat...">
        <div class="input-group-append">
            {% if user.is_staff %}
                <button id="chat-pub-create-btn" class="btn btn-outline-primary" type="button">Create public chat</button>
            {% endif %}
            <button id="chat-create-btn" class="btn btn-outline-primary" type="button">Create chat</button>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <script type="module" src="{% static 'js/lobby.js' %}"></script>
{% endblock content %}