{% extends "base.html" %}
{% load django_bootstrap_icons %}
{% load static %}

{% block title %}
    {{ room_name }} - {{ block.super }}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/chat.css' %}">
{% endblock css %}

{% block out_content %}
    <div id="outer">
        <div class="inner">
            <button type="button" class="btn btn-outline-secondary btn-lg" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">Users</button>
        </div>
        <div class="inner"><button class="btn btn-outline-secondary btn-lg" type="button" id="chat-invite-button">Invite</button></div>
        <div class="inner"><button class="btn btn-outline-danger btn-lg" id="leave-button">Leave</button></div>
        <div class="inner"><button class="btn btn-outline-danger btn-lg" id="delete-button">Destroy</button></div>
    </div>
{% endblock %}

{% block content %}

    <div class="collapse" id="collapseExample">
        <div style="margin-bottom: 10px">
            <div id="user-list" class="list-group">
                {# Users go here #}
            </div>
        </div>
    </div>
    <div>
        <ul id="messages" class="list-group" style="max-height: 68vh; height: 68vh; overflow: scroll;">
            {# Messages go here #}
        </ul>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-text">
            <input type="checkbox" id="mode" aria-label="Checkbox for following text input" title="DevOps mode">
        </div>
        <div class="input-group-text" id="god_mode_dev">
            <input type="checkbox" id="god_mode" aria-label="Checkbox for following text input" title="God mode">
        </div>
        <input id="chat-input" type="text" class="form-control" placeholder="Type your message...">
        <div class="input-group-append">
            <input id="chat-btn" class="btn btn-outline-secondary" type="button" value="Send">
        </div>
    </div>
    {{ room_id|json_script:"room-id" }}
    <script>
        let sessionKey = '{{ request.session.session_key }}';
        let currentUser = '{{ request.user.id }}';
        let currentUsername = '{{ request.user.username }}';
        let chatCreator = '{{ creator }}'
        let currentChat = {{ room_id }};
        {% if is_public %}
            let isPublic = true;
        {% endif %}
    </script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <script type="module" src="{% static 'js/chat.js' %}"></script>
{% endblock content %}