{% extends "base.html" %}
{% load static %}

{% block title %}
    Invite - {{ block.super }}
{% endblock %}

{% block content %}
    <div class="input-group mb-3">
        <input id="search-input" type="text" class="form-control" placeholder="Type name to search here">
{#        <div class="input-group-append">#}
{#            <button id="search-button" class="btn btn-outline-secondary" type="button">Button</button>#}
{#        </div>#}
    </div>
    <div id="search-list" class="list-group" name="search-list"></div>
    <div id="invitee-list" class="list-group" name="invitee-list" style="margin-top: 30px"></div>

    <button type="submit" id="invite-button" class="btn btn-primary btn-lg" style="margin-top: 10px">Invite</button>
    <a href="{% url 'chat-enter' room_name=room_name %}" class="btn btn-outline-primary btn-lg" style="margin-top: 10px">Back</a>

    {{ room_id|json_script:"room-id" }}
    {{ room_name|json_script:"room-name" }}
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <script type="module" src="{% static 'js/search.js' %}"></script>
{% endblock content %}