{% extends "base.html" %}

{% block title %}
    Task - {{ block.super }}
{% endblock %}

{% block content %}
    <form method='POST' action='.'>{% csrf_token %}
        <a class="btn btn-primary btn-lg" href="{% url 'task-all' %}" role="button" style="margin-bottom: 10px">Okay</a>
        {% if info.status == 'to do' %}
            {% include 'card_detail.html' with status='To Do' style='info' %}
        {% elif info.status == 'in progress' %}
            {% include 'card_detail.html' with status='In Progress' style='dark' %}
        {% elif info.status == 'completed' %}
            {% include 'card_detail.html' with status='Completed' style='success' %}
        {% endif %}
    </form>

    {% for comment in comments %}
        <div style="margin-top: 10px; margin-bottom: 10px">
            <div class="card">
              <div class="card-header">
                  <p style="text-align: left;  margin-bottom: 1px;">
                      From: <a href="{% url 'profile-search' comment.commentator %}" rel="nofollow">{{ comment.commentator }}</a>
                      <span style="float: right">
                          №{{ forloop.counter }}
                      </span>
                  </p>
              </div>
            </div>
            <div class="card">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">{{ comment.comment }}</li>
              </ul>
            </div>
            {% if comment.commentator == user %}
                <div class="card">
                  <ul class="list-group list-group-flush">
                      <div class="btn-group">
                        <a class="btn" href="{% url 'comment-edit' comment.pk %}" role="button"><i class="fa fa-edit"></i></a>
                        <a class="btn" href="{% url 'comment-delete' comment.pk %}" role="button"><i class="fa fa-trash"></i></a>
                      </div>
                  </ul>
                </div>
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}