{% extends "base.html" %}

{% block title %}
    Edit - {{ block.super }}
{% endblock %}

{% block content %}
  {{ from }}
  {% if authenticated %}
      <h1>Edit:</h1>
      <form method='POST' action='.'>{% csrf_token %}
          <div class="form-group">
            <label for="exampleFormControlInput1">Title</label>
            <input type="text" name="title" class="form-control" id="exampleFormControlInput1" placeholder="Title of task" value="{{ title }}">
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Description</label>
            <textarea class="form-control" name="description" id="exampleFormControlTextarea1" rows="3">{{ description }}</textarea>
          </div>
          <div class="form-group">
              <label for="exampleFormControlSelect1">Status</label>
              <select class="form-control" name="status" id="exampleFormControlSelect1">
                <option>to do</option>
                <option>in progress</option>
                <option>completed</option>
              </select>
          </div>
          <button type="submit" class="btn btn-primary btn-lg">Edit</button>
          <button type="submit" class="btn btn-primary btn-lg">Discard</button>
      </form>
  {% else %}
    <h1 class="h1">Log in to see preview</h1>
  {% endif %}
{% endblock content %}