{% extends "base.html" %}

{% block title %}
    Form - {{ block.super }}
{% endblock %}

{% block content %}
    <form method='POST' action='.' enctype="multipart/form-data">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Add</button>
        <a href="{% url 'task-all' %}" class="btn btn-primary">Discard</a>
    </form>
{% endblock content %}