{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="list-group">
        {# Rooms go here #}
        {% if message %}
            <p style="color: red">{{ message }}</p>
        {% endif %}
        {% for game in games %}
            <a href="/game/{{game.id}}/" class="list-group-item list-group-item-action list-group-item-success flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Number of players: {{ game.num_gamers }}</h5>
                    <small><strong>Game</strong></small>
                </div>
                <small>{{ game.gamers.last.username }}</small>
            </a>
            {% empty %}
                <li class="list-group-item list-group-item-light">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">No rooms available. Create new game or reload this page.</h5>
                        <small><strong>Game</strong></small>
                    </div>
                </li>
        {% endfor %}
    </div>
    <a href="{% url 'game-create' %}" class="btn btn-outline-success btn-lg" style="margin-top: 10px; margin-right: 10px">Start new game</a>
    <button onClick="window.location.reload();" class="btn btn-outline-info btn-lg" style="margin-top: 10px; margin-right: 10px">Refresh</button>
{% endblock %}