{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/game.css' %}">
{% endblock css %}

{% block content %}
    <span class="dot" id="led"></span>
    <div class="row" style="max-height: 66vh; height: 66vh; overflow: scroll;">
        <div class="col">
            <ul id="my-words" class="list-group">
                <li class="list-group-item list-group-item-primary">You</li>
                {# Your words go here #}
            </ul>
        </div>
        <div class="col">
            <ul id="not-my-words" class="list-group">
                <li class="list-group-item" id="opponent">Friend</li>
                {# Words go here #}
            </ul>
        </div>
    </div>
    <input id="msg-input" class="form-control form-control-lg" type="text" placeholder="Type your message...">
    <input id="send-btn" class="btn btn-outline-primary btn-lg" type="button" value="Send">
    <button id="leave-btn" class="btn btn-outline-danger btn-lg" type="button">Leave</button>
    <button id="help-btn" class="btn btn-outline-info btn-lg" type="button">?</button>
    {{ room_id|json_script:"room-id" }}
    <script>
        let sessionKey = '{{ request.session.session_key }}';
        let currentUser = '{{ request.user.username }}';
        {% if first_user %}
            let first_user = '{{ first_user }}';
        {% endif %}
    </script>
    <script src="{% static 'js/game.js' %}"></script>
{% endblock %}