{% extends "base.html" %}
{% load django_bootstrap_icons %}
{% load my_tags %}

{% block title %}
    {{ block.super }}
{% endblock %}

{% block content %}
    <form method="GET">
{#        {{ form.as_p }}#}
        <div class="container">
            <div class="row">
            {% for field in form  %}
                <div class="col" style="padding: 0px; margin-right: 5px">
                    {{ field.label_tag }} {{ field }}
                </div>
            {% endfor %}
            </div>
        </div>
        <button type="submit" class="btn btn-outline-secondary" style="margin-top: 15px">Apply Filter</button>
        <hr class="mb-4">
    </form>
    <div class="row">
        <div class="col-sm-6">
            {% for task in object_list reversed %}
                {% if task.status == 'to do' %}
                    {% include "card_homepage.html" with status='To Do' style='info' %}
                {% elif task.status == 'in progress' %}
                    {% include "card_homepage.html" with status='In Progress' style='dark' %}
                {% elif task.status == 'completed' %}
                    {% include "card_homepage.html" with status='Completed' style='success' %}
                {% endif %}
                {% empty %}
                    <div class="card border-light mb-3">
                        <div class="card-header">Empty</div>
                        <div class="card-body text-light">
                            <h5 class="card-title"><a class="text-light">No tasks</a></h5>
                            <p class="card-text">Create a new task or wait for someone else to assign it to you</p>
                        </div>
                    </div>
            {% endfor %}
        </div>
        <div class="col-sm-6">
            {% for task in assigned_list reversed %}
                {% if task.status == 'to do' %}
                    {% include "card_homepage.html" with status='To Do' style='info' %}
                {% elif task.status == 'in progress' %}
                    {% include "card_homepage.html" with status='In Progress' style='dark' %}
                {% elif task.status == 'completed' %}
                    {% include "card_homepage.html" with status='Completed' style='success' %}
                {% endif %}
            {% endfor %}
        </div>
    </div>

    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a href="?{% param_replace page=1 %}">First</a>
            {% if page_obj.previous_page_number != 1 %}
                <a href="?{% param_replace page=page_obj.previous_page_number %}">Previous</a>
            {% endif %}
        {% endif %}

        Page {{ page_obj.number }} of {{ paginator.num_pages }}

        {% if page_obj.has_next %}
            {% if page_obj.next_page_number != paginator.num_pages %}
                <a href="?{% param_replace page=page_obj.next_page_number %}">Next</a>
            {% endif %}
            <a href="?{% param_replace page=paginator.num_pages %}">Last</a>
        {% endif %}
        <p>Objects {{ page_obj.start_index }}—{{ page_obj.end_index }}</p>
    {% endif %}
{% endblock content %}