{% extends "base.html" %}
{% load static %}

{% block title %}
Login - {{ block.super }}
{% endblock %}

{% block content %}
    <form id="needs-validation" novalidate>
        <div class="mb-3">
            <label for="login-input">Username:</label>
                <input type="text" id="login-input" name="username" class="form-control" required>
            <div class="invalid-feedback" id="inv-name"></div>
        </div>

        <p><label for="password-input">Password:</label>
            <input type="password" id="password-input" name="password" class="form-control" required>
        </p>
        <button type="submit" id="login-button" class="btn btn-primary">Login</button>
    </form>

    <script type="module" src="{% static 'js/login.js' %}"></script>
{% endblock content %}
