{% extends "base.html" %}
{% load static %}

{% block title %}
    Sign in - {{ block.super }}
{% endblock %}

{% block content %}
    <form method='POST' id="needs-validation" action='.'>{% csrf_token %}
        {{ form.as_p }}
        {% if not authenticated %}
            <button type="submit" class="btn btn-primary">Login</button>
        {% else %}
            <h1 class="h1">You are authenticated</h1>
        {% endif %}
    </form>

    <script type="module" src="{% static 'js/sign_in.js' %}"></script>
{% endblock content %}