<!--Navbar Starts Here-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">vTasker</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
        {% block content %}
            {% if user.is_authenticated %}
                <button class="btn btn-outline-success" type="button" onclick="location.href='/task/create/';">
                    New task
                </button>
                <li class="nav-item">
                    <a class="nav-link" id="logout-button" href="/accounts/logout/">Sign out</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile' %}">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'schema-swagger-ui' %}">API</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'chat-select' %}">Chat</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'game-lobby' %}" style="color: #28a745">Game</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/accounts/login/">Sign in</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/accounts/register/">Sign up</a>
                </li>
            {% endif %}

        {% endblock content %}
        </ul>
        {% if user.is_authenticated %}
            <span class="navbar-text" style="margin-right:2.5em">{% now "SHORT_DATETIME_FORMAT" %}</span>
            <span class="navbar-text">{{ user }}</span>
        {% endif %}
    </div>

</nav>