{% extends "base.html" %}

{% block title %}
    Task - {{ block.super }}
{% endblock %}

{% block content %}
    <h1>Preview:</h1>
    <form method='POST' action='.'>{% csrf_token %}
        {% if info.status == 'to do' %}
            {% include 'card_preview.html' with status='To Do' style='info' %}
        {% elif info.status == 'in progress' %}
            {% include 'card_preview.html' with status='In Progress' style='dark' %}
        {% elif info.status == 'completed' %}
            {% include 'card_preview.html' with status='Completed' style='success' %}
        {% endif %}
        <a class="btn btn-primary btn-lg" href="{% url 'task-all' %}" role="button">Okay</a>
        <a class="btn btn-primary btn-lg" href="{% url 'task-edit' info.pk %}" role="button">Edit</a>
        <a class="btn btn-secondary btn-lg" href="{% url 'task-delete' info.pk %}" role="button">Delete</a>
    </form>
{% endblock %}