{% extends "base.html" %}

{% block title %}
    Edit profile - {{ block.super }}
{% endblock %}

{% block content %}
    <form method='POST' action='.' enctype="multipart/form-data">{% csrf_token %}
        {{ profile_form.as_p }}
        {{ profile_form.media }}
        {{ user_form.as_p }}
        <button type="submit" class="btn btn-primary">Add</button>
    </form>
{% endblock content %}