{% extends "base.html" %}

{% block title %}
    Profile - {{ block.super }}
{% endblock %}

{% block content %}
    {% if profile %}
        {% if profile.picture %}
            <img src="{{ profile.picture.url }}" class="img-thumbnail" alt="{{ profile.picture.name }}" style="max-width: 250px;">
        {% else %}
            <p class="text-muted">No picture</p>
        {% endif %}
        <hr class="mb-4">
        <dl class="row">
        {% if profile.user.first_name %}
          <dt class="col-sm-3">First name</dt>
          <dd class="col-sm-9">{{ profile.user.first_name }}</dd>
        {% endif %}
        {% if profile.user.last_name %}
          <dt class="col-sm-3">Last name</dt>
          <dd class="col-sm-9">{{ profile.user.last_name }}</dd>
        {% endif %}
          <dt class="col-sm-3">Name</dt>
          <dd class="col-sm-9">{{ profile.user.username }}</dd>
        {% if profile.user.email %}
          <dt class="col-sm-3">E-Mail</dt>
          <dd class="col-sm-9">{{ profile.user.email }}</dd>
        {% endif %}
        {% if profile.birth_date %}
            <dt class="col-sm-3">Birthday</dt>
            <dd class="col-sm-9">{{ profile.birth_date }}</dd>
        {% endif %}
        {% if profile.bio %}
            <dt class="col-sm-3 text-truncate">Bio</dt>
            <dd class="col-sm-9">{{ profile.bio }}</dd>
        {% endif %}
        {% if profile.level or profile.position %}
          <dt class="col-sm-3">Position</dt>
          <dd class="col-sm-9">{{ profile.level }} {{ profile.position }}</dd>
        {% endif %}
        </dl>
        <hr class="mb-4">
        {% if profile.user == user %}
            <a href="{% url 'profile-edit' %}" class="btn btn-primary" style="margin-right: 10px">Edit profile</a>
        {% else %}
            <p>You cannot edit this page, {{ user }}</p>
        {% endif %}
    {% else %}
        <p class="h1">No user found.</p>
    {% endif %}
{% endblock content %}