{% extends "base.html" %}

{% block title %}
    Sign up - {{ block.super }}
{% endblock %}

{% block content %}
    <form method='POST' action='.'>{% csrf_token %}
        {{ form.as_p }}
        {% if not authenticated %}
            <button type="submit" class="btn btn-primary">Sign up</button>
        {% else %}
            <h1 class="h1">You are authenticated</h1>
        {% endif %}
    </form>
{% endblock content %}