{% extends "base.html" %}

{% block title %}
{{ object }} - {{ block.super }}
{% endblock %}

{% block content %}
    <form method="post">{% csrf_token %}
        <p>Are you sure you want to delete "{{ object }}"?</p>
        <input type="submit" value="Confirm">
    </form>
{% endblock %}